{% extends "layout.jinja" %}

{% block content %}
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href=""><b>Admin</b>Sentri</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Register New Admin</p>

      <form action="#" method="post">
      {{ form.csrf_token }}
        <div class="input-group mb-3">
          {{ form.username(class="form-control", size=32) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-user"></span>
            </div>
          </div>
        </div>
          {% if form.username.errors %}
        
          {% for error in form.username.errors %}
      <div class="invalid-feedback">
          {{error}}
        </div>
       {% endfor %}
        {% endif %}
        <div class="input-group mb-3">
          {{ form.vendor_name(class="form-control", size=32) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.page_id(class="form-control", size=32) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.access_token(class="form-control") }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.password(class="form-control", size=32) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.password2(class="form-control", size=32) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
         {{ form.admin_code(class="form-control", size=32) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-key"></span>
            </div>
          </div>
        </div>
        {% if form.admin_code.errors  %}
      
        {% for error in form.admin_code.errors %}
      <div class="invalid-feedback">
          {{error}}
        </div>
    {% endfor %}
    {% endif %}
    </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
          <!-- /.col -->
        </div>     
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
{% endblock %}