{% extends "layout.jinja" %}



{% block content %}


<!-- Material form contact -->
<div class="card">

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="/accept_edit" method="POST">
        {% for item in forms  %}
            <div class="piece">
            <h5 class="card-header warning-color-dark white-text text-center py-4">
                 <strong>{{item['name']}}</strong>
             </h5>
                
                 <input type="hidden" id="{{item['name']}}-name" name="name" value="{{item['name']}}">
 
                <!-- Quantity -->
                <div class="mt-5">
                    {{ item['form'].quantity(dir="rtl",class="custom-select") }}
                </div>
                {% if item['form'].spicy %}
                <!-- Spicy -->
                <div class="mt-5">
                    {{ item['form'].spicy(dir="rtl",class="custom-select") }}
                </div>
                
                {% endif %}
                
                {% if item['form'].combo %}
                <!-- Combo -->
                <div class="mt-5">
                    {{ item['form'].combo(dir="rtl",class="custom-select") }}
                </div>
                
                {% endif %}
                {% if item['form'].notes %}
                
                
                <!--Notes-->
                <div class="md-form mt-5">
                    {{item['form'].notes(dir="rtl",class="form-control")}}
                </div>
                </div>
                {% endif %}
                 <button type="button" class="btn btn-danger btn-block z-depth-0 my-4 remove-div">Remove</button>
            {% endfor %}

            <!-- Send button -->
            <button class="btn btn-warning btn-block z-depth-0 my-4 waves-effect" type="submit"
                id="submitButton">Confirm تأكيد</button>

        </form>
        <!-- Form -->

    </div>

</div>

{% endblock content %}