{% extends "layout.jinja" %}



{% block content %}


<!-- Material form contact -->
<div class="card">

    <h5 class="card-header warning-color-dark white-text text-center py-4">
        <strong>{{item}}</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="/add_to_order/sauce/{{item}}/{{price}}" method="POST">
            {{ form.csrf_token }}

            <!-- Quantity -->
            <div class="mt-5">
                {{ form.quantity.label }} {{ form.quantity(dir="rtl",class="custom-select") }}
            </div>
            
            <!-- Combo -->
            <div class="mt-5">
                {{ form.size.label }} {{ form.size(dir="rtl",class="custom-select") }}
            </div>

            <!-- Send button -->
            <button class="btn btn-warning btn-block z-depth-0 my-4 waves-effect" type="submit"
                id="submitButton">Confirm تأكيد</button>

        </form>
        <!-- Form -->

    </div>

</div>

{% endblock content %}