{% extends "layout.jinja" %}



{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users  %}
    <td>{{user['name']}}</td>
    <td>{{user['address']}}</td>
    <td>{{user['phone_number']}}</td>
  {% endfor %}
    
  </tbody>
</table>


{% endblock content %}