{% extends "layout.jinja" %}



{% block content %}
<div class="row">
<div class="table-responsive col-md-3">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
 
  {% for user in users  %}
   <tr>
    <td>{{user['name']}}</td>
    <td>{{user['address']}}</td>
    <td>{{user['phone_number']}}</td>
    </tr>
  {% endfor %}
    </tbody>
    </table>
</div>
<div class="table-responsive col-md-1">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">total</th>
    </tr>
    </thead>
  <tbody>
  <tr>
  {% for total in totals  %}
  <td>{{total}} EGP</td>
  {% endfor %}
  </tr>
</tbody>
</table>
</div>
<div class="table-responsive col-md-1">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Order Number</th>
    </tr>
    </thead>
  <tbody>
  <tr>
  {% for number in numbers  %}
  <td>{{number}}</td>
  {% endfor %}
  </tr>
  </tbody>
</table>
</div>
</div>
{% endblock content %}