{% extends "layout-2.jinja" %}



{% block content %}


<!-- Material form contact -->
<div class="card">

    <h5 class="card-header warning-color-dark white-text text-center py-4">
        <strong>تأكيد الأوردر</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form id="userForm" class="text-center form-box needs-validation" style="color: #757575;" action="/add_user_info" method="POST" novalidate>
            <!-- Name -->
            <div class="md-form mt-5">
                {{ form.name.label(style="margin-left:50%") }} {{ form.name(dir="rtl",class="form-control") }}
            </div>


            <!-- Quantity -->
            <div class="md-form mt-5">
                {{ form.phone_number.label(style="margin-left:50%") }} {{ form.phone_number(dir="rtl",class="form-control") }}
            </div>

            <!--Notes-->
            <div class="md-form mt-5">
                {{form.address.label(style="margin-left:50%")}} {{form.address(dir="rtl",class="form-control")}}
            </div>

            <!-- Send button -->
            <button class="btn btn-warning btn-block z-depth-0 my-4 waves-effect" type="submit"
                id="submitButton">Confirm تأكيد</button>

        </form>
        <!-- Form -->

    </div>

</div>

<script>
/* Form Validation */

    (function () {
        'use strict';
        window.addEventListener('load', function () {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    
</script>

{% endblock content %}