{% extends "layout-2.jinja" %}



{% block content %}


<!-- Material form contact -->
<div class="card">

    <h5 class="card-header warning-color-dark white-text text-center py-4">
        <strong>تأكيد الأوردر</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
         <form id="userForm" action="" method="post" class="form-box needs-validation"  name="myForm" novalidate>
                    <div class="form-group">
                      <input type="text" class="form-control text-right" placeholder="الإسم" required>
                      <div class="invalid-feedback">
                          من فضلك أدخل الاسم
                        </div>

                    </div>
                    <div class="form-group">
                      <input type="tel"  pattern="[0-9]{11}" class="form-control text-right" placeholder="رقم الهاتف" required>
                      <div class="invalid-feedback">
                          من فضلك ادخل رقم صحيح
                        </div>
                      </div>

            
           <div class="form-group">
                      <input type="text" class="form-control text-right" placeholder="العنوان" required>
                      <div class="invalid-feedback">
                          من فضلك أدخل العنوان الكامل
                        </div>

            <!-- Send button -->
            <button class="btn btn-warning btn-block z-depth-0 my-4 waves-effect" type="submit"
                id="submitButton">Confirm تأكيد</button>

        </form>
        <!-- Form -->

    </div>

</div>

<script>
/* Form Validation */

    (function () {
        'use strict';
        window.addEventListener('load', function () {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    
</script>

{% endblock content %}