{% extends "layout-2.jinja" %}



{% block content %}
  <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>

<!-- Material form contact -->
<div class="card">

    <h5 class="card-header warning-color-dark white-text text-center py-4">
        <strong>Send Message</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
         <form id="userForm" action="/add_user_info" method="post" class="form-box"  name="myForm" novalidate>
           <div class="form-group mt-5">
                      <input type="text" name="user" class="form-control text-right username" placeholder="Username" required>
                      <div class="invalid-feedback">
                          Pls Enter a Valid Username
                        </div>
                    </div>
                    <div class="form-group mt-5">
                      <input type="text" name="message" class="form-control text-right message" placeholder="Enter Message" required>
                      <div class="invalid-feedback">
                          Pls Enter a Valid Message
                        </div>
                    </div>
            <!-- Send button -->
            <div class="form-group text-center">
                      <input id='submitButton' type="submit" class="btn btn-warning btn-block z-depth-0 my-4 waves-effect" value="Confirm تأكيد">
                    </div>

        </form>
        <!-- Form -->

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
 <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
    </script>

{% endblock content %}