{% extends "layout.jinja" %}



{% block content %}
<div class="container-fluid">
<div class="row">
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Total</th>
      <th scope="col">Order</th>
    </tr>
  </thead>
  <tbody>
 
 
 {% for list in data %}
 <tr>
    <td>{{list['user']['name']}}</td>
    <td>{{list['user']['address']}}</td>
    <td>{{list['user']['phone_number']}}</td>
    <td>{{list['total']}} EGP</td>
    <td>{{list['items']}}</td>
  </tr>
  {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
{% endblock content %}